/* General */

body, html, main {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #111;
}

/* Header */
header {

}

header h1 {
    color: #dd4236;
    font-size: 4em;
    margin: 0;
    padding: 0;
}

/* App Container */

.app-container {
    display: flex;
    width: 90%;
    height: 80%;
    background-image: linear-gradient(200deg, #111 30% , #dd4236 50%, #111 70%);
    opacity: 0.3;
    margin: 0 auto;
    justify-content: space-between;
}

.app-container .control {
    flex-basis: 10%;
}

.app-container .card-board {
    flex-basis: 55%;
    display: flex;
    flex-wrap: wrap;
}

.card-board .card {
    flex-basis: 10vw;
    height: 10vw;
    background: aqua;
    margin: 2%;
}

/* Dynamic */

.hidden {
    display: none;
}